.logo-shadow {
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-shadow:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.custom-navbar-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  color: #5c4033;
}

.custom-navbar-text .fw-bold {
  font-weight: bold;
}

.animated-logo {
  width: 250px;
  opacity: 0;
  filter: blur(8px);
  animation: revealLogo 2.5s ease-out forwards;
}

@keyframes revealLogo {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.splash-subtitle {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  color: #5a3d30;
  opacity: 0;
  animation: fadeInText 2s ease-out 2s forwards;
}

body {
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
}

.bg-footer-bosque {
  background-color: #f5f0e1; /* beige claro */
  color: #3b3b3b;
}

.imagen-responsive {
  max-width: 100%;
  height: auto; /* Asegura que la altura se ajuste automáticamente */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}
